---
import { Mountain } from 'lucide-react';
---

<a href="/" class="flex items-center space-x-2">
  <Mountain className="h-8 w-8 text-white" />
  <span class="font-display text-3xl tracking-wider text-accent text-white">MTBNZ</span>
</a>